@{
    ViewData["Title"] = "Math-Attack";
    ViewBag.ShowFooter = false;
}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Math-Attack</title>
        <!--Refference to information icon-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=info" />
        <!--Refference to kampplads.css-->
        <link href="~/css/kampplads.css" rel="stylesheet"/>

    </head>
    <body>

        <!--Modal box for the user to choose a difficultcy and match with an opponent-->
        <div class="modal" id="matchOpponent">
            <div class="modal-content">
                <!-- Gamemode Selector-->
                <div class="startModel">
                    <h1>Velkommen til Math-Attack spillet</h1>
                    <p>Vælg host eller join for at spille med en kammerat, eller tilfældig spiller</p>

                    <button type="button" id="host" onclick="hostButton()">Host Game</button>
                    <button type="button" id="join" onclick="joinButton()">Join Game</button>
                    <button type="button" id="random" onclick="randomButton()">Random Match</button>

                <span class="material-symbols-outlined informationButtom btn">info</span>

                </div>
                <!-- Host Screen-->
                <div class="hostScreen" style="display: none;">
                    <h1>Velkommen til Math-Attack spillet</h1>
                    <p>Vælg en sværhedsgrad</p>

                    <button class="host-difficulty-level-button col-3 btn-secondary">4. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">5. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">6. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">7. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">8. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">9. Klasse</button>
                    <button class="host-difficulty-level-button col-3 btn-secondary">10. Klasse</button>

                <span class="material-symbols-outlined informationButtom btn">info</span>
                </div>

                <!-- Host wait Screen-->
                <div class="hostWait" style="display: none;">
                    <h1>Venter på spiller</h1>
                    <p>Pin:</p> 
                    <label id="pin"></label>
                </div>

                <!-- Join screen -->
                <div class="joinScreen" style="display: none;">
                    <h1>Indtast pin kode</h1>
                    <input id="pinNumber" type="number" size="6"/>
                    <button type="button" onclick="returnPin()" >Join</button>
                </div>

                <!-- Difficulty Selection Screen -->
                <div class="difficultyScreen" style="display: none;">
                    <h1>Velkommen til Math-Attack spillet</h1>
                    <p>Vælg en sværhedsgrad, også finder vi en modsatnder til dig!🎮</p>

                    <button class="difficulty-level-button col-3 btn-secondary">4. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">5. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">6. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">7. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">8. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">9. Klasse</button>
                    <button class="difficulty-level-button col-3 btn-secondary">10. Klasse</button>

                    
                </div>
                <!--Information and rules about the game screen-->
                <div class="information">
                    <strong class="closeInformationButtom btn">X</strong>
                    <h1>Regler og informationer</h1>

                    <strong>Om spillet:</strong>
                    <p style="margin-bottom: 0px">I dette spil dyster du mod en anden spiller online i en 1 mod 1 matematikduel. I får hver især de samme matematikspørgsmål, der spawner ned foran jer, og begge spillere har dermed muligheden for at svare på de præcis samme spørgsmål. Der er ingen tidsgrænse, men duellen fortsætter, indtil en spiller ikke har flere livskræfter. 🔢</p>
                    <p style="margin-top: 0px"><strong>Bemærk: </strong>Begge spillere starter med 100 livskræfter.</p><br />

                    <strong>Hvordan vinder man spillet:</strong>
                    <p>Spillet vindes ved, at man som spiller får slået alt livskraften ud af den anden spiller. 🏆</p><br />

                    <strong>Hvilke matematikspørgsmål kan man støde på:</strong>
                    <p style="margin-bottom: 0px">Der er to typer af matematikspørgsmål i spillet: multiple choice og et svar input-felt (kun et tal). Inden for disse to typer kan man støde på mange forskellige matematikemner lige fra multiplikation og addition til geometri og algebra.</p>
                    <p style="margin-top: 0px"><strong>Bemærk: </strong>Man kun skal skrive et enkelt tal i svar input-feltet - ingen bogstaver, ligninger eller mere end et tal.</p>
                </div>
                <!-- Searching for Opponent Screen -->
                <div class="searchOpponent" style="display: none;">
                    <h1>Leder efter en modstander</h1><br />
                    <p>Det kan godt tage et par minutter</p>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <!-- End screen after the game is finished -->
                <div class="gameOverScreen" style="display: none;">
                    <h2 id="gameResult"></h2>
                    <div class="stats-container">
                        <h3>Statistik</h3>
                        <div class="stats">
                            <p>Korrekte svar: <span id="correctAnswers">0</span></p>
                            <p>Forkerte svar: <span id="wrongAnswers">0</span></p>
                        </div>
                    </div>

                    <div class="game-over-buttons">
                        <button onclick="window.location.reload()" class="btn btn-primary">Ny kamp</button>
                        <button id="rematchButton" class="btn btn-warning" onclick="requestRematch()">Omkamp</button>
                        <button type="button" onclick="window.location.href='@Url.Action("fantasyVillage", "Home") .village-background';" class="btn btn-secondary">Gå til landsbyen</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Game area-->
        <!-------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="gameArena">
            <div class="user-health-bar" style="display: inline-block">
                <p>Din Livskraft</p>
                <div class="progress" style="width: 100px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
            </div>
            <div class="opponent-health-bar" style="display: inline-block">
                <p>Modstanderens Livskraft</p>
                <div class="progress" style="width: 100px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
            </div>
            <!--Player 1-->
            <div class="player1">
                <p>Player 1</p>
            </div>
            <!--Questions-->
            <template id="question-template">
                <div class="question-box">
                    <div class="question"></div>
                    <div class="unit"></div>
                    <div class="answers"></div>
                    <div class="answer-input-container">
                        <input type="text" class="answer-input" placeholder="Indtast dit svar her">
                        <button class="submit-answer btn-primary">Svar</button><br />
                    </div>
                    <div class="invalid-feedback"><strong>Forkert svar, prøv igen 😟</strong></div>
                    <div class="valid-feedback"><strong>Korrekt! 🎉</strong></div>
                </div>
            </template>
            <div class="questions-container"></div>
            <!--Player 2-->
            <div class="player2">
                <p>Player 2</p>
            </div>
        </div>

        <!-- Refference to online SignalR library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
        <!-- Refference to the JavaScript file -->
        <script src="~/js/kampplads.js"></script>
        <!-- Refference to MathJax LaTeX math syntax -->
        <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        
        <!-- Random match button fucntion, virker ikke i javascript, ved ikke hvorfor-->
        <script>
        function randomButton() {
            // Hide the start screen
            document.querySelector('.startModel').style.display = 'none';

            // Show the difficulty selector screen
            document.querySelector('.difficultyScreen').style.display = 'block';

            console.log("Button clicked");
        }
        </script>

        <!-- Host button function -->
        <script>
        function hostButton() {

           // Hide the start screen
           document.querySelector('.startModel').style.display = 'none';

           // Show the difficulty selector screen
           document.querySelector('.hostScreen').style.display = 'block';
            }

        </script>

        <!-- Join button function -->
        <script>
        function joinButton() {

            // Hide the start screen
            document.querySelector('.startModel').style.display = 'none';

            // Show the difficulty selector screen
            document.querySelector('.joinScreen').style.display = 'block';

        }

        </script>

        <script>
        function returnPin() {
            const pin = document.getElementById('pinNumber').value;

            if (!pin || pin.length !== 6) {
                alert("Please enter a valid 6-digit PIN.");
                return;
            }
            selectedDifficulty

            connection.invoke("JoinGameByPin", pin)
                .catch(err => console.error(err.toString()));

        }
        </script>


        <script>


        // This EventListener checks what difficulty (4. klasse til 10. klasse) the host picked
        document.querySelectorAll('.host-difficulty-level-button').forEach(button => {

            button.addEventListener('click', function () {


                const difficulty = this.textContent;
                selectedDifficulty = this.textContent;
                document.querySelector('.hostScreen').style.display = 'none';
                document.querySelector('.hostWait').style.display = 'block';

                let pinNumb = Math.floor(Math.random() * 899999 + 100000);
                let pin = pinNumb.toString();
                document.getElementById('pin').innerHTML = pin;


                connection.invoke("HostGame", difficulty, pin, selectedDifficulty);
                console.log("Invoking HostGame with Difficulty:", difficulty, "PIN:", pin, "Klasse:", selectedDifficulty);
            });
        })

        </script>

        <script>

        </script>

    </body>
</html>