@{
    ViewData["Title"] = "Privat Politik";
}
<html>
    <head>

    </head>
    <body>
        <h1>@ViewData["Title"]</h1>
        <p>
            <strong>Math-Attack</strong> respekterer dit privatliv og forpligter sig til at beskytte dine personlige oplysninger. Denne privatlivspolitik beskriver, hvilke oplysninger vi indsamler, hvordan vi bruger dem, og hvordan vi beskytter dem.
        </p>

        <h3>Hvilke oplysninger indsamler vi?</h3>
        <p>
            Vi indsamler kun de oplysninger, der er nødvendige for at oprette og administrere din konto, nemlig din <strong>e-mailadresse</strong> og <strong>adgangskode</strong>.
        </p>

        <h3>Hvordan bruger vi dine oplysninger?</h3>
        <p>Vi bruger dine oplysninger til at:</p>
        <ol>
            <li>Vertificere at det er dig, når du logger ind på din konto.</li>
            <li>Gøre dig i stand til at spille matematik spillet.</li>
        </ol>

        <h3>Hvordan beskytter vi dine oplysninger?</h3>
        <p>Vi tager sikkerheden af dine personlige oplysninger alvorligt og har defor implementeret passende tekniske og organisatoriske foranstaltninger for at beskytte dine oplysniger mod uautoriseret adgang, brug, ændring eller videregivelse.</p>
        <p>Dine adgangskoder er krypteret, og vi deler aldrig dine oplysninger med tredjeparter.</p>

        <h3>Dine rettigheder</h3>
        <p>Du har ret til at anmode om adgang til, berigtigelse eller sletning af dine personlige oplysninger. Du kan også til enhver tid trække dit samtykke til vores behandling af dine oplysninger tilbage.</p>

        <h3>Kontakt os</h3>
        <p>Hvis du har spørgsmål om denne privatlivspolitik, bedes du kontakte din lærer eller skole, der vil sætte dig i kontakt med os.</p>
    </body>
</html>